<table class= "table table-dark">
    <tr>
        <th>Year</th>
        <th>No_of_birth</th>
    </tr>
    <% @hello.each do |r| %>
        <tr>
            <td> <%= r.year %></td>
            <td> <%= r.No_of_birth %></td>
        </tr>
    <% end %>
</table>